<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] AntFlight</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!--Header-->
    <div id="head" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--Sandwich description-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- END Sandwich description-->
                <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">AntFlight</a>
            </div>

            <!-- Login Form + DropDown Sandwich-->
            @*@await Html.PartialAsync("_LoginPartial")*@
            <div class="navbar-collapse collapse">
                <!-- Login Form -->
                @await Html.PartialAsync("_LoginPartial_My")
                @*<form class="navbar-form navbar-left login_form" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="логин" class="form-control size_form">

                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="пароль" class="form-control size_form">
                    </div>

                    <button type="submit" class="btn btn-success btn btn_login">Войти</button>
                </form>
                
                
                <ul class="nav navbar-nav">
                    <li class="registration_forgottenPassword">
                        <img src="~/images/ant_small.png" class="ant_in_login_form">
                        <div class="registration_forgottenPassword_links">
                            <a href="#">Забыли пароль?</a>
                            <a href="#">Регистрация</a>
                        </div>
                    </li>
                    <!-- END Login Form -->
                    <!-- DropDown Sandwich -->
                    <div class="dropdown_sandwich_menu">
                        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li><a asp-controller="FlightMessages" asp-action="Index">Все леты</a></li>
                        <li><a asp-controller="FlightMessages" asp-action="Timetable">Таблица летов</a></li>

                        <img src="~/images/ant_small.png" class="ant_small_dropdown_sandwich_menu">
                    </div>
                    <!-- END DropDown Sandwich -->
                </ul>
            </div>*@
            <!-- END Login Form-->
        </div><!--END Container-->
    </div>
    <!--END Header-->
    <!--Content & Sidebar-->
    <div id="content_sidebar" class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-sm-9 deny_col_padding">
                @RenderBody()
            </div><!-- ****/.col-sm-9 ****-->
            <!-- END Content-->
            <!-- Sidebar -->
            <div class="col-sm-3 btn-group-vertical sidebar_style">
                <img src="~/images/ant_small.png" class="ant_small">
                <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-success sidebar_button">Главная</a>
                <a asp-controller="FlightMessages" asp-action="Index" type="button" class="btn btn-success sidebar_button">Все леты</a>
                <a asp-controller="FlightMessages" asp-action="Timetable" class="btn btn-success sidebar_button">Таблица летов</a>
                <img src="~/images/ant_big.png">
            </div>
            <!-- END Sidebar-->
        </div>
    </div>
    <!--END Content & Sidebar-->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    @RenderSection("scripts" , required: false)
</body>
</html>