@using Microsoft.AspNetCore.Identity
@using AntFlight.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
    </form>*@
                <!-- DropDown Sandwich -->
    <div class="navbar-collapse collapse scroller">
        <ul class="nav navbar-nav dropdown_sandwich_menu">

            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li><a asp-controller="FlightMessages" asp-action="Index">Все леты</a></li>
            <li><a asp-controller="FlightMessages" asp-action="Timetable">Таблица летов</a></li>
            <li><a asp-controller="FlightMessages" asp-action="AddFlight">Добавить лет</a></li>
            @*<li><a asp-controller="Account" asp-action="LogOff">Выйти</a></li>*@
            
            <li>Line BG under development<img src="~/images/ant_small.png" class="ant_small_dropdown_sandwich_menu"></li>

        </ul>
    </div>
            <!-- END DropDown Sandwich -->
}
else
{
    <!-- Login Form -->
    <div class="login_line">
        <form asp-controller="Account" asp-action="Login" method="post" class="navbar-form login_form" role="form">
            <div class="form-group">
                <input id="Email" name="Email" type="text" placeholder="Email" class="form-control size_form">

            </div>
            <div class="form-group">
                <input id="Password" name="Password" type="password" placeholder="Пароль" class="form-control size_form">
            </div>

            <button type="submit" class="btn btn-success btn btn_login">Войти</button>
        </form>

        <img src="~/images/ant_small.png" class="ant_in_login_form">
        <div class="registration_forgottenPassword registration_forgottenPassword_links">
            @*<a href="#">Забыли пароль?</a>*@
            <a asp-controller="Account" asp-action="Register">Регистрация</a>
        </div>
    </div>
                <!-- END Login Form -->
                <!-- DropDown Sandwich -->
    <div class="navbar-collapse collapse scroller">
        <ul class="nav navbar-nav dropdown_sandwich_menu">

            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li><a asp-controller="FlightMessages" asp-action="Index">Все леты</a></li>
            <li><a asp-controller="FlightMessages" asp-action="Timetable">Таблица летов</a></li>
            <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
            <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
            <li>Line BG is under development<img src="~/images/ant_small.png" class="ant_small_dropdown_sandwich_menu"></li>

        </ul>
    </div>
            <!-- END DropDown Sandwich -->
}