@inject SignInManager<ApplicationUser> SignInManager

<img src="~/images/ant_small.png" class="ant_small">
<a asp-controller="Home" asp-action="Index" type="button" class="btn btn-success sidebar_button">Главная</a>
<a asp-controller="FlightMessages" asp-action="Index" type="button" class="btn btn-success sidebar_button">Все леты</a>
<a asp-controller="FlightMessages" asp-action="Timetable" class="btn btn-success sidebar_button">Таблица летов</a>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="FlightMessages" asp-action="AddFlight" class="btn btn-success sidebar_button">Добавить лет</a>
    @*<a asp-controller="Account" asp-action="LogOff" class="btn btn-success sidebar_button">Выйти</a>*@
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-success sidebar_button" style="width: 100%">Выйти</button>
        </form>
}
<img src="~/images/ant_big.png">