@inject SignInManager<ApplicationUser> SignInManager

<img src="~/images/ant_small.png" class="ant_small">
<a asp-controller="Home" asp-action="Index" type="button" class="btn btn-success sidebar_button">Главная</a>
<a asp-controller="FlightMessages" asp-action="Index" type="button" class="btn btn-success sidebar_button">Все леты</a>
<a asp-controller="FlightMessages" asp-action="Timetable" class="btn btn-success sidebar_button">Таблица летов</a>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="FlightMessages" asp-action="AddFlight" class="btn btn-success sidebar_button">UD Добавить лет</a>
    <a asp-controller="" asp-action="" class="btn btn-success sidebar_button">UD Профиль</a>
}
<img src="~/images/ant_big.png">